html{
font-size: 7px;
  }
body {
background-color: #F4757E;
font-family: 'Roboto', sans-serif;}

#calcBody{
background-color: #373840;
width: 35rem;
height: 40.7rem;
border-radius: 1.38rem;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1.38rem;
padding: 1.38rem;
margin:auto;
margin-top:20vh;
box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}
#screen{
grid-column: span 4;
background: #A2AF77;
height: 7.1rem;
margin:0px;
margin-top:2rem;
border-radius: 0.35rem;
box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}
.button{
font-family: 'Roboto', sans-serif;
border-radius: 0.35rem;
border:none;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 2.4rem;
text-align: center;
letter-spacing: 0.1em;
color: #FFF;
box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}
.grayBtn{
background: #57595A;
}
.grayBtn:active{
animation-name: grayBtnClicked;
animation-duration: 2s;
}
.blackBtn{
background: #1B0F0F;
}
.redBtn{
grid-row: span 2;
background: #ED5C2C;
}
.bigBtn{
grid-column: span 2;
}
/*animation does not work*/
@keyframes grayBtnClicked {
50%  {
  background: #454647;
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
}
100% {
background: #57595A;
box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}
}
/*media queries*/
@media (min-width:1100px){
html{
font-size: 1vh;
}
}
